doctype html
html(lang='en')
  include common/head.pug
  +head("Starter MVP")
  body
    h1 Edit Lead
    form(action="/lead/" + lead.id + "/edit" method="POST")
        input(name="lead_email" type="email", placeholder="Enter your email address" value=lead.email)
        button(type="submit", ) Save

    a(href="/leads") Back to Leads
    include common/footer.pug
    +footer()
